
.card-custom {
  width: 90%; /* ou outra porcentagem desejada */
  max-width: 300px; /* ou outra medida máxima desejada */
  margin: 1rem; /* ou outra margem desejada */
}

.card-custom {
  width: 70rem;
  margin-bottom: 1.25rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1.6rem;
  background-color: #fff !important;
  overflow-wrap: anywhere;
}

.card-custom a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.card-custom a:hover {
  text-decoration: underline;
}

.card-custom p {
  margin-bottom: 5px;
}

/* Estilos para resoluções menores */
@media (max-width: 768px) {
  .card-custom {
    width: 90%;
    max-width: 300px;
    margin: 1rem;
  }
}
