.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.info-space {
  height: 100px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-name {
  margin-left: 1rem;
}

.current-page {
margin-left: 1rem;
margin-right: 1.25rem;
}

.avatar-img {
  width: 40px;
  height: 40px;
}

.badge-custom {
  display: inline-block;
  padding: 0.25em 0.5em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: #007bff;
  color: #fff;
  margin-right: 0.2rem;
}

.pagination {
  margin-bottom: 1rem;
}

.btn-pagination {
  margin-right: 0.2rem;
}

.input-group {
  margin-left: 2rem;
}

/* Ajustes de estilos para resoluções menores */
@media (max-width: 576px) {
  .btn-pagination {
    font-size: 12px; /* Reduz o tamanho do texto */
    padding: 0.25rem 0.5rem; /* Ajusta o preenchimento do botão */
  }

  .btn-group {
    flex-wrap: wrap; /* Permite que os botões sejam exibidos em múltiplas linhas */
  }

  .pagination {
    text-align: center; /* Centraliza os botões */
  }

  .input-group {
    margin: 0; /* Remove a margem para um layout mais compacto */
  }
}
